In [19]:
# import wikipedia dataset from huggingface 

from datasets import load_dataset
import pandas as pd
import numpy as np

# Dataset Creation

In [37]:
dataset = load_dataset("wikipedia", "20220301.simple", beam_runner='DirectRunner')

# save the dataset to csv

# FULL ENGLISH DATASET

dataset = dataset['train']
dataset = dataset.select(range(12000))
dataset = dataset.to_pandas()

# divide the dataset into 3 parts

train = dataset.iloc[:10000]
val = dataset.iloc[10000:11000]
test = dataset.iloc[11000:12000]

In [28]:
train.to_csv('wiki_eng_train.csv', index=False)
val.to_csv('wiki_eng_val.csv', index=False)
test.to_csv('wiki_eng_test.csv', index=False)

In [38]:
# LITTLE ENGLISH DATASET

little_train = dataset.iloc[:3500]
little_train.to_csv('wikil_eng_train.csv', index=False)

In [36]:
# LITTLE ITALIAN DATASET

dataset = load_dataset("wikipedia", "20220301.it", beam_runner='DirectRunner')
dataset = dataset['train']
dataset = dataset.select(range(2000))

dataset = dataset.to_pandas()

train = dataset.iloc[:1300]
val = dataset.iloc[1300:1600]
test = dataset.iloc[1600:2000]

train.to_csv('wiki_ita_train.csv', index=False)
val.to_csv('wiki_ita_val.csv', index=False)
test.to_csv('wiki_ita_test.csv', index=False)

# Dataset Reading

In [35]:
# load dataset from csv

dataset = pd.read_csv('wiki_eng_train.csv')
dataset

,id,url,title,text
0,1,https://simple.wikipedia.org/wiki/April,April,April is the fourth month of the year in the J...
1,2,https://simple.wikipedia.org/wiki/August,August,August (Aug.) is the eighth month of the year ...
2,6,https://simple.wikipedia.org/wiki/Art,Art,Art is a creative activity that expresses imag...
3,8,https://simple.wikipedia.org/wiki/A,A,A or a is the first letter of the English alph...
4,9,https://simple.wikipedia.org/wiki/Air,Air,Air refers to the Earth's atmosphere. Air is a...
...,...,...,...,...
9995,34134,https://simple.wikipedia.org/wiki/War%20in%20A...,War in Afghanistan (2001–2021),The War in Afghanistan was a war fought by the...
9996,34141,https://simple.wikipedia.org/wiki/Castrato,Castrato,A castrato (plural castrati) was a type of mal...
9997,34142,https://simple.wikipedia.org/wiki/Falsetto,Falsetto,A falsetto voice is a special way of speaking ...
9998,34143,https://simple.wikipedia.org/wiki/Countertenor,Countertenor,A countertenor is a male singer who uses a fal...
9999,34146,https://simple.wikipedia.org/wiki/Breeches%20role,Breeches role,A breeches role is a part in an opera in which...

In [40]:
little_dataset = pd.read_csv('wikil_eng_train.csv')
little_dataset

,id,url,title,text
0,1,https://simple.wikipedia.org/wiki/April,April,April is the fourth month of the year in the J...
1,2,https://simple.wikipedia.org/wiki/August,August,August (Aug.) is the eighth month of the year ...
2,6,https://simple.wikipedia.org/wiki/Art,Art,Art is a creative activity that expresses imag...
3,8,https://simple.wikipedia.org/wiki/A,A,A or a is the first letter of the English alph...
4,9,https://simple.wikipedia.org/wiki/Air,Air,Air refers to the Earth's atmosphere. Air is a...
...,...,...,...,...
3495,10496,https://simple.wikipedia.org/wiki/Jack,Jack,Jack is a male given name. It might also mean:...
3496,10497,https://simple.wikipedia.org/wiki/Stuff,Stuff,"Stuff is a mass of many things listed below, m..."
3497,10500,https://simple.wikipedia.org/wiki/Crayola,Crayola,Crayola is an American brand of crayons and ot...
3498,10505,https://simple.wikipedia.org/wiki/Ringo%20Starr,Ringo Starr,"Sir Richard Starkey MBE (born 7 July 1940), kn..."
3499,10506,https://simple.wikipedia.org/wiki/Oslo,Oslo,Oslo is the capital city of Norway. It is Norw...

In [42]:
ita_dataset = pd.read_csv('wiki_ita_train.csv')
ita_dataset

,id,url,title,text
0,2,https://it.wikipedia.org/wiki/Organo%20a%20pompa,Organo a pompa,Lorgano a pompa è un tipo di organo a serbatoi...
1,3,https://it.wikipedia.org/wiki/Antropologia,Antropologia,Lantropologia (dal greco ἄνθρωπος ànthropos «u...
2,5,https://it.wikipedia.org/wiki/Agricoltura,Agricoltura,"Lagricoltura (dal latino agricultura, ager cam..."
3,6,https://it.wikipedia.org/wiki/Architettura,Architettura,Larchitettura è la disciplina che ha come scop...
4,9,https://it.wikipedia.org/wiki/Astronomia,Astronomia,Lastronomia è la scienza che si occupa dell'os...
...,...,...,...,...
1295,3298,https://it.wikipedia.org/wiki/Provincia%20di%2...,Provincia di Palermo,"La provincia di Palermo, successivamente provi..."
1296,3299,https://it.wikipedia.org/wiki/Provincia%20di%2...,Provincia di Perugia,La provincia di Perugia è un ente locale terri...
1297,3301,https://it.wikipedia.org/wiki/Provincia%20di%2...,Provincia di Salerno,La provincia di Salerno è una provincia italia...
1298,3303,https://it.wikipedia.org/wiki/Papa%20Clemente%...,Papa Clemente III,\n\nBiografia \nPaolo Scolari nacque nel 1130 ...
1299,3305,https://it.wikipedia.org/wiki/Pierre%20Simon%2...,Pierre Simon Laplace,Fu uno dei principali scienziati del periodo n...